    .main-layout {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .side-nav-wrapper {
        width: 250px;
        height:90vh;
    }

    .main-content {
        flex: 1;
        background-color: var(--background-colour);
        height:90vh;
        overflow-y: auto;
    }
