.login-frame{
    background-color: var(--primary-colour);
    border: 1px solid var(--accent-colour);
    border-radius: 25px;
    max-width: 600px;
    margin: 4rem auto;
    padding: 2rem;
    animation: fadeInUp 1s ease forwards;
    text-align: left;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
}

.login-buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1.2rem;
    max-width:200px;
    margin: 0 auto;
}

.login-input-wrapper{
    display:flex;
    flex-direction: column;
    gap:2rem;
    padding-top: 1rem;
}

.login-frame h1{
    color: var(--accent-colour)
}

.login-frame p{
    color:var(--muted-colour)
}