.team-basic-stats-table {
    border-radius: 12px;
    overflow-x: auto;
}

.team-basic-stats-table h2 {
    font-size: 1.5rem;
    text-align: left;
    color: var(--muted-colour);
}

.team-basic-stats-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
}

.team-basic-stats-table th,
.team-basic-stats-table td {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid var(--accent-colour);
}

.team-basic-stats-table th {
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
}

.team-basic-stats-table tbody tr:nth-child(even) {
    background-color: var(--background-colour);
}

.team-basic-stats-table tbody tr:hover {
    background-color: var(--background-colour);
}
